
.hide{
    display: none !important;
}
@media  screen and (max-width: 476px) {
    .container{
        width: 90%;
    }
    .humbergure{
        display: block;
    }
    .navbar>ul{
        display: none;
    }
    .navbar>.nav-btn{
        display: none;
    }

.hero-content {
    padding: 0px;
}
.hero-content h1 {
    font-size: 2.25rem;
    font-weight: 600;
}
.hero-content .subtitle {
margin-top: 0px;
}
.hero-content h1 span {
    font-size: 2.25rem;
    font-weight: 600;
}
.hero-content p {
    margin-top: 20px;
}
.hero-content .hero-button {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}


/* note section  */
.note-section {
    padding: 40px 0px;
}
.note-section .container h1 {
    font-size: 2.25rem;
}
.card-section {
    flex-direction: column;
    gap: 10px;
}
/* solution-section  */
.solution-main {
margin: 40px auto;
  flex-direction: column;
  gap: 40px;
}
.brain-img img{
    width: 100%;
}
.brain-content h1 {
  font-size: 2.25rem;
}
.brain-content ul {
  margin-top: 20px;
}

/* ready section  */
.main-container {
  padding: 40px 10px;
  margin: 40px 0px;
}
.main-container h1 {
  font-size: 2.25rem;
}
  .ready-section .container .main-container ul {
    gap: 10px;
    align-items: center;
    flex-direction: column;
    list-style: none;
  }

/* footer section  */
footer {
  padding: 0px;
}
.foot-section {
  justify-content: space-between;
  align-items: center;
  padding: 40px 1px;
  margin-bottom: 0px;
}
small {
  text-align: center;
  padding: 20px 0px;
  margin-top: 0px;
}


}