
.hide{
    display: none !important;
}
@media  screen and (max-width: 476px) {
    .container{
        width: 90%;
    }
    .humbergure{
        display: block;
    }
    .navbar>ul{
        display: none;
    }
    .navbar>.nav-btn{
        display: none;
    }

.hero-content {
    padding: 0px;
}
.hero-content h1 {
    font-size: 2.25rem;
    font-weight: 600;
}
.hero-content .subtitle {
margin-top: 0px;
}
.hero-content h1 span {
    font-size: 2.25rem;
    font-weight: 600;
}
.hero-content p {
    margin-top: 20px;
}
.hero-content .hero-button {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}


/* note section  */
.note-section {
    padding: 40px 0px;
}
.note-section .container h1 {
    font-size: 2.25rem;
}
.card-section {
    flex-direction: column;
    gap: 10px;
}



}